<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form method="post">
    <h1>Nova Pessoa</h1>
    {{form.as_p}}
    <button type="submit">Salvar</button>
</form>

</body>
</html>