<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
    </tr>
    </thead>
    <tbody>
    {% crsf_token %}
    {% for pessoa in %}

    <tr>
        <th></th>
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.nome}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>